<!DOCTYPE html>
<html>
<head>
  <title>Resume Generated</title>
  <link rel="stylesheet" type="text/css" href="css/endstyles.css">
  
</head>
<body>
  <canvas id="canvas"></canvas>
  <div class="container">
    <img src="images/AdobeLogo.png" alt="Adobe Logo" class="logo">
    <h1 >Resume Builder</h1>
  </div>
  <div class="success-message">
    Resume Generated Successfully! Find it inside output directory.
  </div>
  <div class="author-info">
    <p>Pundarikaksha</p>
    <p>Email ID: pundarikakshamohanty@gmail.com</p>
    <p>IIT Guwahati</p>
  </div>
  <script src="js/endscript.js"></script>
</body>
</html>
