<!DOCTYPE html>
<html>
<head>
  <title>Resume Builder</title>
  
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #f4f4f4;
    }

    .heading-template-options {
      text-align: center;
      font-family: Arial, sans-serif;
      color: #333;
      margin-bottom: 20px;
      font-size: 24px;
    }

    .template-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .template-option {
      flex: 1 0 ;
      text-align: center;
      margin-bottom: 40px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .template-option:hover {
      transform: translateY(-10px);
    }

    .template-option label {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .template-image {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      margin-bottom: 10px;
      border-radius: 8px;
    }

    .template-name {
      font-size: 18px;
      color: #333;
      margin-bottom: 6px;
    }

    .submit-button {
      margin-top: 30px;
      display: block;
      width: 200px;
      height: 50px;
      background-color: #4caf50;
      color: #fff;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 550px;
      transition: background-color 0.3s ease;
      
    }

    .submit-button:hover {
      background-color: #45a049;
    }

  </style>
</head>
<body>
  <div style="text-align: center;">
  <h1 style="color:grey" >Resume Builder</h1>
    
  </div>  
  <h2 class="heading-template-options">Template Options</h2>
  <form action="/select-template" method="POST">
  <div class="template-container">
    <% options.forEach(function(option) { %>
      <div class="template-option">
        <label>
          <img src="<%= option.image %>" alt="<%= option.name %>" class="template-image">
          <span class="template-name"><%= option.name %></span>
          <input type="radio" name="template" value="<%= option.docPath %>" required>
        </label>
      </div>
    <% }); %>
  </div>

  <button type="submit" class="submit-button" style="margin: 0 auto; display: block;">Select Template</button>

  
  </form>
</body>
</html>
